*.class
target/
.gradle/
build/

.project
.classpath
.settings/
.springBeans
.sts4-cache/

.idea/
*.iml
.vscode/

.DS_Store
Thumbs.db
*.log

.env
.env.*

application-local.properties
application-local.yml