<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>商品詳細画面</title>
</head>

<body>
	<h1>商品詳細画面</h1>

	<table border="1">
		<tr>
			<th>商品ID</th>
			<td th:text="${item.id}"></td>
		</tr>
		<tr>
			<th>商品名</th>
			<td th:text="${item.itemName}"></td>
		</tr>
		<tr>
			<th>大カテゴリ</th>
			<td th:text="${item.largeCategoryName}"></td>
		</tr>
		<tr>
			<th>メーカー名</th>
			<td th:text="${item.makerName}"></td>
		</tr>
		<tr>
			<th>仕入原価</th>
			<td th:text="${#numbers.formatInteger(item.costPrice, 1, 'COMMA')}"></td>
		</tr>
		<tr>
			<th>メーカー希望価格</th>
			<td th:text="${#numbers.formatInteger(item.makerPrice, 1, 'COMMA')}"></td>
		</tr>
		<tr>
			<th>商品説明</th>
			<td th:text="${item.itemInfo}"></td>
		</tr>
	</table>

	<a th:href="@{/items}">一覧画面へ戻る</a>
	<a th:href="@{/top}">TOPに戻る</a>
</body>


</html>