<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	    <title>商品発注画面</title>
	</head>
	<body>
	    <h1>商品発注画面</h1>

	    <form th:action="@{/item/order/confirm}" th:object="${orderForm}" method="post">
	        <input type="hidden" th:field="*{itemId}">

	        <table border="1">
	            <tr>
	                <th>商品ID</th>
	                <td th:text="${item.id}"></td>
	            </tr>
	            <tr>
	                <th>商品名</th>
	                <td th:text="${item.itemName}"></td>
	            </tr>
	            <tr>
	                <th>在庫数</th>
	           		<td th:text="${item.stock}"></td>
	            </tr>
	            <tr>
	                <th>発注数</th>
	                <td>
	                    <input type="number" th:field="*{orderQuantity}" min="1">
						<span th:if="${#fields.hasErrors('orderQuantity')}" th:errors="*{orderQuantity}" style="color:red;"></span>
	                </td>
	            </tr>
	        </table>

	        <button type="submit">確認画面へ</button>
	        <a th:href="@{/items}">戻る</a>
	    </form>
	</body>
</html>