<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>大カテゴリ一覧</title>
</head>

<body>
	<h1>大カテゴリ一覧</h1>

	<table border="1">
		<tr>
			<th>大カテゴリID</th>
			<th>大カテゴリ名</th>
			<th>更新日時</th>
			<th></th>
		</tr>

		<tr th:each="category : ${categories}">
			<td th:text="${category.id}"></td>
			<td th:text="${category.largeName}"></td>
			<td th:text="${#dates.format(category.updatedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
			<td>
				<a th:href="@{/categories/middles/{id}(id=${category.id})}">
					詳細
				</a>
			</td>
		</tr>
	</table>

	<a th:href="@{/top}">TOPに戻る</a>
</body>

</html>