<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>中カテゴリ一覧</title>
</head>

<body>
	<h1>中カテゴリ一覧</h1>

	<table border="1">
		<tr>
			<th>中カテゴリID</th>
			<th>中カテゴリ名</th>
			<th>更新日時</th>
			<th></th>
		</tr>

		<tr th:each="middle : ${middleCategories}">
			<td th:text="${middle.id}"></td>
			<td th:text="${middle.middleName}"></td>
			<td th:text="${#dates.format(middle.updatedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
			<td>
				<a th:href="@{/categories/smalls/{id}(id=${middle.id})}">詳細</a>
			</td>
		</tr>

	</table>
	<a th:href="@{/categories}">戻る</a>
	<a th:href="@{/top}">TOPに戻る</a>
</body>

</html>