<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>小カテゴリ詳細</title>
</head>

<body>
	<h1>小カテゴリ詳細</h1>

	<table border="1" th:if="${not #lists.isEmpty(items)}">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>更新日時</th>
		</tr>

		<tr th:each="item : ${items}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.itemName}"></td>
			<td th:text="${#dates.format(item.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
		</tr>
	</table>

	<p th:if="${#lists.isEmpty(items)}" th:text="#{category.item.empty}">
	</p>
	<a th:href="@{/categories/smalls/{id}(id=${middleCategoryId})}">戻る</a>
	<a th:href="@{/top}">TOPに戻る</a>
</body>

</html>