<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>メーカー一覧</title>
</head>

<body>
	<h1>メーカー一覧</h1>
	<table border="1">
		<tr>
			<th>メーカー名</th>
			<th>作成日時</th>
		</tr>
		<tr th:each="maker : ${makerlist}">
			<td th:text="${maker.makerName}"></td>
			<td th:text="${#dates.format(maker.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
			<td>
				<a th:href="@{/makers/{id}(id=${maker.id})}">詳細</a>

			</td>
		</tr>
	</table>

	<a th:href="@{/top}">TOPに戻る</a>
	<a th:href="@{/logout}">ログアウト</a>
</body>

</html>