<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>店舗編集画面</title>
</head>

<body>

	<h1>店舗編集画面</h1>

	<form th:action="@{/store/confirm}" th:object="${StoreEditForm}" method="post">
		<input type="hidden" th:field="*{id}">
		<table>

			<tr>
				<td>店舗名</td>
				<td>
					<input type="text" th:field="*{storeName}">
					<span th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}" style="color: red;"></span>
				</td>
			</tr>
			<tr>
				<td>住所</td>
				<td>
					<input type="text" th:field="*{address}">
					<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red;"></span>
				</td>
			</tr>
		</table>
		<input type="submit" value="確認画面へ" />
	</form>
	<a th:href="@{/storeList}">一覧画面へ戻る</a>
</body>

</html>